services:
  proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - PORT=8080
      - REQUEST_ORIGIN=http://127.0.0.1
      - REDIS_HOST=redis
      - POSTGRES_HOST=database
      - POSTGRES_USER=joshua
      - POSTGRES_PASSWORD=password
      - POSTGRES_DATABASE=joshua
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - REACT_APP_BACKEND_URL=http://localhost/api/
    restart: unless-stopped

  database:
    image: postgres:17
    restart: unless-stopped
    environment: 
      - POSTGRES_USER=joshua
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=joshua 
    volumes:
      - ./database:/var/lib/postgresql/data

  redis:
    image: redis:alpine