name: Release Clearnotes App

on:
  push:
    branches:
      - main
    paths:
      - 'clearnotes/**' # Only triggers when files in the clearnotes folder change

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./clearnotes
        push: true
        # Use a unique tag for this specific app
        tags: ${{ vars.DOCKERHUB_USERNAME }}/clearnotes:latest

    - name: Trigger Render Deployment
      # Use the specific deploy hook for the Clearnotes service on Render
      run: curl "${{ secrets.CLEARNOTES_RENDER_DEPLOY_HOOK }}"